In [1]:
import pandas as pd

# Step 1: Import the file (replace 'your_file.csv' with your filename)
# For CSV
df = pd.read_csv("reviews.csv")

In [6]:
import re
df = df.drop_duplicates(subset=["author_name", "text"])

# 2. Standardize formats
## Strip whitespace in text fields
for col in ["business_name", "author_name", "text", "rating_category"]:
    df[col] = df[col].str.strip()

## Convert business_name and rating_category to consistent lowercase
df["business_name"] = df["business_name"].str.lower()
df["rating_category"] = df["rating_category"].str.lower()

# 3. Remove noise in reviews
## Remove extra spaces and special characters from text
df["text"] = df["text"].apply(lambda x: re.sub(r"[^a-zA-Z0-9.,!?'\s]", "", x))

## Optionally remove very short reviews (less than 5 words)
#df = df[df["text"].str.split().str.len() >= 5]

# Reset index after cleaning
df = df.reset_index(drop=True)

# Show cleaned dataset summary
print("After preprocessing:")
df.head()

After preprocessing:

,business_name,author_name,text,photo,rating,rating_category
0,haci'nin yeri - yigit lokantasi,Gulsum Akar,We went to Marmaris with my wife for a holiday...,dataset/taste/hacinin_yeri_gulsum_akar.png,5,taste
1,haci'nin yeri - yigit lokantasi,Oguzhan Cetin,During my holiday in Marmaris we ate here to f...,dataset/menu/hacinin_yeri_oguzhan_cetin.png,4,menu
2,haci'nin yeri - yigit lokantasi,Yasin Kuyu,Prices are very affordable. The menu in the ph...,dataset/outdoor_atmosphere/hacinin_yeri_yasin_...,3,outdoor_atmosphere
3,haci'nin yeri - yigit lokantasi,Orhan Kapu,Turkey's cheapest artisan restaurant and its f...,dataset/indoor_atmosphere/hacinin_yeri_orhan_k...,5,indoor_atmosphere
4,haci'nin yeri - yigit lokantasi,Ozgur Sati,I don't know what you will look for in terms o...,dataset/menu/hacinin_yeri_ozgur_sati.png,3,menu

In [7]:
print("\nDataset shape:", df.shape)

Dataset shape: (1100, 6)